body{
    background-color: black;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
}
h1{
    font-size:4em;
    font-weight:bolder;
}
h2{
    font-size:3em;
    font-weight:bolder;
}
h3{
    font-size:2.5em;
    font-weight:bolder;
}
p{
    font-size:2em;
}
.intro, .story, .data {
    text-align: center;
}
.intro-prose{
    display: inline-block;
    text-align: left;
    padding: 0% 20% 0% 20%;

}
.SR, .economy, .crises, .predictor, .conclusion, .datamethod{
    display: inline-block;
    text-align: left;
    padding: 0% 20% 0% 20%;

}
/*Plots*/
.oneplot{
    overflow: hidden;
    padding-top:56.25%;
    position: relative;
}
.oneplot iframe{
    border:0;
    width: 100%;
    left:0;
    height: 100%;
    top:0;
    position: absolute;
}
.twoplot{
    float:left;
    width: 50%;
    overflow:hidden;
    padding-top:56.25%;
    position: relative;    
}
.twoplot iframe{
    border:0;
    width: 100%;
    left:0;
    height: 100%;
    top:0;
    position: absolute;
}