body{
    background-color: black;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
}

h1{
    font-size:4em;
    /*text-align:center;*/
    font-weight:bolder;
}
h2{
    font-size:3em;
    /*text-align:center;*/
    font-weight:bolder;
}
p{
    font-size:2em;
}

.intro{
    text-align: center
}

.intro-prose{
    display: inline-block;
    text-align: left;
    padding: 0% 20% 0% 20%;

}
.highest-SR{
    display: inline-block;
    text-align: left;
    padding: 0% 20% 0% 20%;

}